.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em 2em;
    margin-bottom: 2em;
    width: 23%;
    border-radius: 1em;
    border: 2px solid red;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.415);
    background-color: #333;
}
.card .id {
    margin: 1em 0;
    background-color: #e33d33;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.card .title {
    text-transform: capitalize;
    margin-bottom: 1em;
    font-size: 1.4em;
    color: white;
}

.card .btn {
    text-decoration: none;
    background-color: white;
    color: #333;
    padding: .1em 1.2em;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.4s;
}

.card .btn:hover {
    
    background-color: #e33d33;
    color: rgb(255, 255, 255);
    
}

@media (max-width: 568px) {
    .card {
        
        padding: 2em 2em;
        margin-bottom: 2em;
        width: 48%;
        margin: 2px 2px;
    }
}