.titleP {
    align-items: center;
    display: flex;
    font-size: 30px;
    border: black solid 1px;
}
.titleP h2 {
    font-size: 25px;
   
}
.titleP span {
    color: red;
   
}
.pokemon_container {
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    margin: 0 auto;

}
.pokemonG {
   
    min-height: 50px;
    width: 100%;
}
.cont Link{
    width: fit-content;
    background-color: red;
    color: white;
    border-radius: 4px;
    border: none;
    margin: 2px;
    text-transform: capitalize;
}
@media (max-width: 568px) {
    .pokemon_container {
        max-width: 1100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style: none;
        align-items: center;
        margin: 0 auto;
    
    }
}