.titleP {
    align-items: center;
    display: flex;
    font-size: 30px;
    border: black solid 1px;
}
.titleP h2 {
    font-size: 25px;
   
}
.titleP span {
    color: red;
   
}
.pokemon_container {
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    margin: 0 auto;

}