.fundoForm {
  background-image: url(../public/img/fundo-gondola-01-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.Iform {
  max-width: 1200px;
  margin: auto;
  display: flex;
}
.Iform > div {
  width: 50%;
  margin: 20px 0px;
}
.FormL {
  background-color: rgba(0, 162, 255, 0.464);
  display: block;
}
.FormL form {
  width: 80%;
  margin: auto;
  text-align: center;

  padding: 20px;
}

.FormL input {
  width: 80%;
  margin: 5px 0px;
  padding: 3px;
  border-radius: 5px;
}
.FormL textarea {
  width: 80%;
  margin: 5px 0px;
}
.FormL select {
  width: 80%;
  margin: 5px 0px;
}
.imgHeader img {
  width: 100%;
  height: 100%;
}

.InfoB {
  background-color: rgba(255, 255, 255, 0.695);
  padding: 20px;
  border-radius: 8px 0px 0px 8px;
}
@media (max-width: 568px) {
  .Iform {
    display: block;
  }
  .Iform > div {
    width: 95%;
    margin: 10px auto;
  }
}
